.godot/
icon.svg.import
assets/sophia_model/textures/eyes_normal_map.png.import
assets/sophia_model/textures/eyes_diffuse_map.png.import
assets/sophia_model/SSS.png.import
assets/sophia_model/sophia_roughness.png.import
assets/sophia_model/sophia_normal.png.import
assets/sophia_model/sophia_mouth_smile_normal.png.import
assets/sophia_model/sophia_mouth_smile_diffuse.png.import
assets/sophia_model/sophia_eye_open_normal.png.import
assets/sophia_model/sophia_eye_open_diffuse.png.import
assets/sophia_model/sophia_diffuse.png.import
assets/sophia_model/sophia.glb.import
assets/AllSkyFree_Sky_ClearBlueSky_Equirect.png.import
.godot/imported/SSS.png-18c68062dc94e3dac98c698149d0c972.md5
.godot/imported/sophia_roughness.png-b1b2fe4c8d6335a4513c7da5394f1516.md5
.godot/imported/sophia_normal.png-219bb339ea1b91efeea0f15c6402fce5.md5
.godot/imported/sophia_mouth_smile_normal.png-79f02203da6de5a454b9f24e491d5ba0.md5
.godot/imported/sophia_mouth_smile_diffuse.png-d498c2a19d4a607bfdaf5f9e7d5e5974.md5
.godot/imported/sophia_eye_open_normal.png-a5579aa9c5fd7ae10e27afa51fed12d3.md5
.godot/imported/sophia_eye_open_diffuse.png-a2d3909ed5aa919f9144ef054548e480.md5
.godot/imported/sophia_diffuse.png-39adfb16b60d7ebcf1f3f649b1a4c06d.md5
.godot/imported/sophia.glb-5af832555826a2d8903c6e11e434ab77.md5
.godot/imported/icon.svg-218a8f2b3041327d8a5756f3a245f83b.md5
.godot/imported/eyes_normal_map.png-e82f04eff685d56cde55a990716e3621.md5
.godot/imported/eyes_diffuse_map.png-b08de950c7f7f6f00cb3259868bb0135.md5
.godot/imported/AllSkyFree_Sky_ClearBlueSky_Equirect.png-7a235b395583fbe24a95db5cb812ebfa.s3tc.ctex
.godot/imported/AllSkyFree_Sky_ClearBlueSky_Equirect.png-7a235b395583fbe24a95db5cb812ebfa.md5
.godot/editor/TestLevel.tscn-folding-c9552071d86bd1d752a340c425bc88e4.cfg
.godot/editor/sophia.glb-5af832555826a2d8903c6e11e434ab77.scn-folding-27d781f899c6a80637fc9b8392f35711.cfg
.godot/editor/script_editor_cache.cfg
.godot/editor/project_metadata.cfg
.godot/editor/filesystem_update4
.godot/editor/filesystem_cache10
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache10
.godot/editor/sophia.glb-5af832555826a2d8903c6e11e434ab77.scn-folding-27d781f899c6a80637fc9b8392f35711.cfg
.godot/imported/AllSkyFree_Sky_ClearBlueSky_Equirect.png-7a235b395583fbe24a95db5cb812ebfa.md5
.godot/imported/AllSkyFree_Sky_ClearBlueSky_Equirect.png-7a235b395583fbe24a95db5cb812ebfa.s3tc.ctex
.godot/imported/eyes_diffuse_map.png-b08de950c7f7f6f00cb3259868bb0135.md5
.godot/imported/eyes_normal_map.png-e82f04eff685d56cde55a990716e3621.md5
.godot/imported/icon.svg-218a8f2b3041327d8a5756f3a245f83b.md5
.godot/imported/sophia.glb-5af832555826a2d8903c6e11e434ab77.md5
.godot/imported/sophia_diffuse.png-39adfb16b60d7ebcf1f3f649b1a4c06d.md5
.godot/imported/sophia_eye_open_diffuse.png-a2d3909ed5aa919f9144ef054548e480.md5
.godot/imported/sophia_eye_open_normal.png-a5579aa9c5fd7ae10e27afa51fed12d3.md5
.godot/imported/sophia_mouth_smile_diffuse.png-d498c2a19d4a607bfdaf5f9e7d5e5974.md5
.godot/imported/sophia_mouth_smile_normal.png-79f02203da6de5a454b9f24e491d5ba0.md5
.godot/imported/sophia_normal.png-219bb339ea1b91efeea0f15c6402fce5.md5
.godot/imported/sophia_roughness.png-b1b2fe4c8d6335a4513c7da5394f1516.md5
.godot/imported/SSS.png-18c68062dc94e3dac98c698149d0c972.md5
assets/AllSkyFree_Sky_ClearBlueSky_Equirect.png.import
assets/sophia_model/sophia.glb.import
assets/sophia_model/sophia_diffuse.png.import
assets/sophia_model/sophia_eye_open_diffuse.png.import
assets/sophia_model/sophia_eye_open_normal.png.import
assets/sophia_model/sophia_mouth_smile_diffuse.png.import
assets/sophia_model/sophia_mouth_smile_normal.png.import
assets/sophia_model/sophia_normal.png.import
assets/sophia_model/sophia_roughness.png.import
assets/sophia_model/SSS.png.import
assets/sophia_model/textures/eyes_diffuse_map.png.import
assets/sophia_model/textures/eyes_normal_map.png.import
icon.svg.import